@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome To The Mammoth House!</h1>

<p> Thank you for booking with us.  You will find important details about our property below:</p>

<div class="Menu">
    <NavLink href="About The House" class="Menu-box">
        <div id="menu">
    <a asp-page="/About">About the House</a>
</div>

       
    </NavLink>
</div>

